.text-indigo {
  color: rgb(67, 56, 202);
}

.text-neutral {
  color: rgb(38, 38, 38);
}

.text-stone {
  color: rgb(41, 37, 36);
}

.text-red {
  color: rgb(153, 27, 27);
}

.text-orange {
  color: rgb(154, 52, 18);
}

.text-amber {
  color: rgb(146, 64, 14);
}

.text-yellow {
  color: rgb(133, 77, 14);
}

.text-lime {
  color: rgb(63, 98, 18);
}

.text-green {
  color: rgb(22, 101, 52);
}

.text-emerald {
  color: rgb(6, 95, 70);
}

.text-teal {
  color: rgb(17, 94, 89);
}

.text-cyan {
  color: rgb(21, 94, 117);
}

.text-sky {
  color: rgb(7, 89, 133);
}

.text-fuchsia {
  color: rgb(162, 28, 175);
}
